#athena-tooltip {
  position: relative;
  width: 250px;
  display: inline-block;
  z-index: 99999;
  background: #383838;
  color: white;
  padding: 15px;
  border-radius: 4px;
  word-wrap: break-word;
}

#athena-tooltip:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: solid transparent;
  pointer-events: none;
  border-top-color: #383838;
  border-width: 25px;
  left: 50%;
  margin-left: -25px;
}

#athena-tooltip .word {
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  font-size: 14px;
  margin-bottom: 25px;
  text-align: left;
  font-weight: bold;
}

#athena-tooltip .mmdef {
  font-size: 13px;
}
#athena-tooltip .mmdef span {
  display: block;
  margin: 10px 0;
  text-align: left;
}

