@font-face {
  font-family: 'fontello';
  src: url('data:application/octet-stream;base64,d09GRgABAAAAAAnoAA4AAAAAEMwAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABRAAAAEQAAABWPa1Iw2NtYXAAAAGIAAAAOAAAAUrQERm3Y3Z0IAAAAcAAAAAUAAAAHAXh//xmcGdtAAAB1AAABPkAAAmRigp4O2dhc3AAAAbQAAAACAAAAAgAAAAQZ2x5ZgAABtgAAACXAAAAmhB4V8hoZWFkAAAHcAAAADUAAAA2AZtBw2hoZWEAAAeoAAAAIAAAACQHJQNUaG10eAAAB8gAAAAIAAAACAddAABsb2NhAAAH0AAAAAYAAAAGAE0AAG1heHAAAAfYAAAAIAAAACAAsQnFbmFtZQAAB/gAAAF3AAACzcydGhxwb3N0AAAJcAAAACAAAAAy1an0U3ByZXAAAAmQAAAAVgAAAFaSoZr/eJxjYGRezziBgZWBg6mKaQ8DA0MPhGZ8wGDIyMTAwMTAysyAFQSkuaYwOLxgeMHAHPQ/iyGK6TqDNFCYESQHAPujC+14nGNgYGBmgGAZBkYGEHAB8hjBfBYGDSDNBqQZGZgYGF4w/P8PUgChJRih6oGAkY1hxAMAY8cGrnicY2BAA0YMRkzX/z8FYQAZ2AXfeJydVdl201YUlTxkcBI6ZKCgDtfcOFDryoQpGDBpKsV2IR0cCK0EHaQMdOSdxz7ra45Cu1Yf+bTufT0ktHSttiyWz75HW2fYOudGHCMqfRqIa9ShkpcDqaw9lkr3SVzXdS+PlQwGcV22Ek9Jm6idJEpq3exQLvFY6ypZJ1gn4+UgVk9VnmegDOIUHmVJRBtEG6mXJkniieMniRZnEB8lSSAloxCn0shQQjUaxFLVoUzp0KvXE3HTQMpGox51WFT3Q8UnxzWn1KwDRipXOcIV69VGvhunAy97kMQ6wbOthzEeeKx+lCqQipHpyD92Sk6UhoFUcdShVuLoMJNf95FMKs1ApoxiRaXugbjd/XTbFjE9dDq+LkqVRqq6uc4omu3R8aiDKA/Zxumk3NDZ9vDlGVNUq11xs+1AZg1cSslsdJ9EAB0mUuPpAU41nAKpGfVHxdnnzwESyVyUqjxVMod6A5kzO3txMe1uJ6uycKSfBzJvdnbjnYdDp1eHf9H6F0zhzEeP4mJ+PkL6UGp+Ik4kpUZYzPKnhh9xVyBCuTGICxfK4FOEOXRF2tlmXeO1MfaGz/lKqWE9Cdroo/h+Cv1OJCscZ1Gj9UiczWPXda3cZ1BLtbsXOzKvQ5Ui7u8LC64z54RhnhYLVV+e+d4FNP8GiGf8QN40hUv7lilKtG+boky7aIoK7RJUpV02xRTtiimmac+aYob2HVPM0p4zMuP/y9znkfsc3vGQm/Zd5KZ9D7lp30du2g+Qm1YhN20duWkvIDetRm7aVaM6dgQaBmkXUhVB0DSy+mHcVpv1QNaMNHxpYPIuYsj66kRHnbW1yh/Ff3XiCwdyaaKnuyIXm+Iur9sWPjzd7quPmkbdsNX4xpHyMB5Gehya0Fn5zeG/7U3dLpruMqoy6AEVTArAAGXtQALTOtsJpPWap/jyB2BchnjOSkO1VJ87hqbv5Xlf97E58b7H7cYut1x3eQlZ1g1yY/bw31Jkqusf5S2tVCdHrCsnj1VrGEMqvCi6vpKUe7S1G78oqbLyXpTWyueTkJs9gxtCW7buYbAjTGnKJR5eU6UoPdRSjrJDLG8pyjzglIsLWobEuA51D2prxOmhehgbCyGGobS9EHBIKV0V37TKd/Eeq2vY6PjFFeHpenISEZ/iKvtR8FTXRv3oDtq8Zt0ygylVqqf7jE+xr9v2UVlppI6zF7dUB9c06xo5FdNP5GvgdG84aN0DPVR8NEEjVTXH6MYoYzSWNeXfBHQxVn7DaNVi+z3cT52kVay5S5jsmxP34LS7/Sr7tZxbRtb91wa9beSKnyMxvy0K/DsHYrdkDdQ7k4EYC8hZ0BjGFiZ3GK6DbcRt9j8mp//fhoVFclc7Grt56sPVk1Eld9nyuMtNdlnXozZH1U4a+wiNLQ835tjhciy2xGBBtv7B/zHuAXdpUQLg0MhlmIjadKGe6uHqHquxbThXEgF2zbHjdAB6AC5B3xy71vMJgPXcI+cuwH1yCHbIIfiUHILPyLkF8Dk5BF+QQzAgh2CXnDsAD8gheEgOwR45BI/I2QT4khyCr8ghiMkhSMi5DfCYHIIn5BB8TQ7BN0auTmT+lgfZAPrOoptAqZ0aHNo4ZEauTdj7PFj2gUVkH1pE6pGR6xPqUx4s9XuLSP3BIlJ/NHJjQv2JB0v92SJSf7GI1GfGl5kjKa8OnvOODv4El+qtXgAAAAABAAH//wAPeJxjYGZg+P+UuYzpOgMrgxCDAoOGg6qUJC8PAyujg4KIMDsbIxuDPQMjAwOjLwMjI0MgkMHgKijEJKjNKKiuLGjMqG7HaKKmbi7HKCrCJo7MYWc88+rRI8Z8RyUleQVbPWP9ODcrIHDy9PPwZrr+l+8Vo9y/CfZKEdGBirYGpfZWRdtcracumGbt5LU7JW6zLwMARhQgkQB4nGNgZGBgAGLpbmaZeH6brwzczC+AIgznm6UNwXTTo48MDP+fMpcxXQdyORiYQKIAIegLXwAAAHicY2BkYGAO+p/FEMX8goHh/3/mMgagCApgAgCI0wV/A+gAAAN1AAAAAAAAAE0AAAABAAAAAgAhAAMAAAAAAAIABAARAG4AAAA5CZEAAAAAeJx1kMtqwkAUhv/x0otCW1rotrMqSmm8YDeCIFh0026kuC0xxiQSMzIZBV+j79CH6Uv0WfqbjKUoTZjMd745c+ZkAFzjGwL588SRs8AZo5wLOEXPcpH+2XKJ/GK5jCreLJ/Qv1uu4AGB5Spu8MEKonTOaIFPywJX4tJyARfiznKR/tFyidyzXMateLV8Qu9ZrmAiUstV3IuvgVptdRSERtYGddlutjpyupWKKkrcWLprEyqdyr6cq8T4cawcTy33PPaDdezqfbifJ75OI5XIltPcq5Gf+No1/mxXPd0EbWPmcq7VUg5thlxptfA944TGrLqNxt/zMIDCCltoRLyqEAYSNdo65zaaaKFDmjJDMjPPipDARUzjYs0dYbaSMu5zzBkltD4zYrIDj9/lkR+TAu6PWUUfrR7GE9LujCjzkn057O4wa0RKskw3s7Pf3lNseFqb1nDXrkuddSUxPKgheR+7tQWNR+9kt2Jou2jw/ef/fgDdX4RLAHicY2BigAAuBuwAKM/IxFmWn1Oam6pbWsDAAAAdHgPFS7gAyFJYsQEBjlm5CAAIAGMgsAEjRLADI3CyBCgJRVJEsgoCByqxBgFEsSQBiFFYsECIWLEGA0SxJgGIUVi4BACIWLEGAURZWVlZuAH/hbAEjbEFAEQAAA==') format('woff');
}

#athena-tooltip {
  position: relative;
  width: 250px;
  display: inline-block;
  z-index: 99999;
  background: #383838;
  color: white;
  padding: 15px;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  word-wrap: break-word;
  transition: visibility 0.5s ease, opacity 0.5s ease;
}
#athena-tooltip .audio-icon {
  display: inline-block;
  margin-left: 10px;
}
#athena-tooltip .icon-volume-up::before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: normal;
  line-height: 1em;
  margin-left: .2em;
  content: "\e800";
  text-shadow: 1px 1px 1px rgba(127, 127, 127, .3);
  cursor: pointer;
}
#athena-tooltip .icon-volume-up:hover {
  color: #ddd;
}
#athena-tooltip::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: solid transparent;
  pointer-events: none;
  border-top-color: #383838;
  border-width: 25px;
  left: 50%;
  margin-left: -25px;
}
#athena-tooltip .word {
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  font-size: 14px;
  text-align: left;
  font-weight: bold;
  display: inline-block;
}
#athena-tooltip .mmdef {
  font-size: 13px;
  line-height: 2em;
}
#athena-tooltip .mmdef span {
  display: block;
  margin: 10px 0; text-align: left; }

